.main{
    background-color: #48A5CB;
}
.section1{
    display: flex;
    flex-direction: column;
    background-color: #ffff;
    width: 430px;
    height: 500px;
    border-radius: 20px;
    padding-top: 20px;
}
#logo{
    width: 80px;
    height: auto;
    align-self: center;
}
.section1 h1{
    color: black;
    font-size: 20px;
}
.section1 p{
    width: 70%;
    font-size: 15px;
    align-self: center;
}
.icons{
    position: relative;
    width: 20px;
    height: auto;
    z-index: 1;
    top: 30px;
    align-self: center;
}
input{
    z-index: 0;
    width: 60%;
    height: 40px;
    align-self: center;
    border-radius: 5px;
    border: 1px solid #777777;
}
button{
    background-color: #48A5CB;
    width: 60%;
    height: 40px;
    align-self: center;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
}
#iconSub{
    display: flex;
    justify-content: space-around;
}
#iconTitle{
    display: flex;
    position: relative;
    z-index: 1;
    margin-left: 90px;
    flex-direction: row;
    top: 15px;
}
.padlock{
    display: flex;
    align-self: flex-start;
    margin-left: 100px;
}
#formSec{
    margin-bottom: 20px;
}
#forgetP{
    align-content: center;
    width: 100%;
}
.section2{
    display: flex;
    justify-content: center;
    width: 450px;
    gap: 20px;
    color: white;
}
